<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641412480225-mj5bivsqa8rf4skjgec4bms4skqd9sgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641412480225-mj5bivsqa8rf4skjgec4bms4skqd9sgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAy1mUC0RyrMMAVxQRsr7PPk1HlJyVGt7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>641412480225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookLisySample</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-be994</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-be994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641412480225:ios:3ad78a152b2ab2841d0ba0</string>
</dict>
</plist>